/*=====================================================

                        css reset

======================================================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*=====================================================

                        custom styles

======================================================*/

body {
  padding: 0 2%;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 40px;
  margin: 50px 18px;
  font-weight: bold;
}
/*=====================================================

                        box

======================================================*/

.in-box {
  display: inline-block;
}

.box {
  margin: 9px;
  width: 150px;
  height: 110px;
  background: #b22e25;
  margin: 20px;
}

.solid-box {
  border: 5px solid black;
}

.double-box {
  border: 5px double black;
}

.dashed-box {
  border: 5px dashed black;
}

.dotted-box {
  border: 5px dotted black;
}

.para-box {
  margin: 50px 0;
  width: 400px;
  height: 420px;
  background: #e93f33;
  padding: 20px;
  color: #fff;
  border-top: 20px solid #4f3cc1;
  border-left: 20px solid #418107;
  border-bottom: 20px solid #fdf731;
  border-right: 20px solid #808080;
  outline: 20px solid #812e80;
  box-shadow: 0 20px 0 20px #812e80, 0 -20px 0 20px #812e80;
}
